@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,700&family=Roboto+Mono:wght@200;400&family=Roboto:ital,wght@0,900;1,700&display=swap');
*{
	padding: 0;
	margin: 0px;
	box-sizing: border-box;
}
body{
	background-color: #f1f1f1;
}
.nav-links{
	display: none;
}
.slider{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/* background: linear-gradient(to left, #ba7453, #d1a984); */
	background: linear-gradient(to right, maroon, red);
	z-index: -1;
}
nav{
	display: grid;
	grid-template-columns: 10% 1fr 1fr 10%;
	color: #fff;
	min-height: 10vh;
	background-color: black;
}

.navbar_items,
	.hamburger {
	  flex-direction: column;
	}
	  
  .navbar_items {
	  display:none;
	}
	  
  .navbar_items--right {
	  margin-left:0;
	}
	  
  .navbar_ToggleShow {
	  display: flex;
	}
	  
  .navbar_link-toggle {
	  align-self: flex-end;
	  display: initial;
	  position: absolute;
	  cursor: pointer;
	 } 
.hero{
	height: 60%;
	width: 100%;
	position: relative;
}

#logo{
	grid-column: 2/3;
	margin-top: 25px;
	font-family: "Roboto", sans-serif;
	font-size: 2vw;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#logo a{
	color: #fff;
	text-decoration: none;	
}
#logo a:hover{
	color: rgba(255, 0, 0, 1);
	transition: all .5s ease;
}
.hamburger{
	justify-self: end;
}
section{
	display: flex;
	height: 80vh;
	justify-content: center;
	align-items: center;
}
.headline{
	position: absolute;
	top: 50%;
	left: 15%;
	font-size: 3vw;
	transform: translate(-20%, -70%);
	color: #fff;
	text-transform: uppercase;
	z-index: 1;
}
.hero::after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0.8;
}
.hamburger-btn{
	width: 50%;
	border: none;
	border-radius: 20px;
	justify-self: end;
	cursor: pointer;
	height: 35px;
	margin-top: 25px;
	color: #fff;
	background: maroon;
	font-size: 20px;
	font-weight: bolder;
}
.hamburger-btn:hover{
	opacity: 0.5;
}

.hamburger li{
	list-style: none;

}

/* 
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		ABOUT SECTION
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/
#about{
	width: 100%;
	margin: 70px 0px;
	background-color: #f1f1f1
}
.body-header{
	width: 80%;
	display: flex;
	position: relative;
}
.heading-top h1{
	font-weight: 800;
	font-family: "Lato", sans-serif;
	font-size: 5vw;
	text-align: center;
	text-transform: uppercase;
	color: maroon;
}
.heading-top p{
	margin-bottom: 100px;
	font-family: "Lato", sans-serif;
	font-size: 25px;
	color: #333;
	text-align: center;
}
.body-header p{
	left: 50px;
	margin-left: 150px;
	font-size: 16px;
	font-weight: normal;
	font-family: "Roboto", sans-serif;
	text-align: center;
	justify-content: center;
	align-items: center;
}

